{% extends "base.html" %}

{% block content %}
<main class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.old_password.label }}<br>
            {{ form.old_password(class="form-control", type="password") }}<br>
            {% if old_password_error != "OK" %}
                <div class="alert alert-danger" role="alert">{{ old_password_error }}</div>
            {% endif %}
        </p>

        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(class="form-control", type="password") }}<br>
            {% if new_password_error != "OK" %}
                <div class="alert alert-danger" role="alert">{{ new_password_error }}</div>
            {% endif %}
        </p>

        <p>
            {{ form.again_password.label }}<br>
            {{ form.again_password(class="form-control", type="password") }}<br>
            {% if again_password_error != "OK" %}
                <div class="alert alert-danger" role="alert">{{ again_password_error }}</div>
        {% endif %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-outline-dark") }}</p>
    </form>
</main>
{% endblock %}