{% extends 'base.html' %}
{% block content %}
<div class="product">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/product_icons/{{ prod.id }}_1.jpg" width="600px"
                     height="500px">
            </div>
            <div class="carousel-item">
                <img src="/static/img/product_icons/{{ prod.id }}_2.jpg" width="600px"
                     height="500px">
            </div>
            <div class="carousel-item">
                <img src="/static/img/product_icons/{{ prod.id }}_3.jpg" width="600px"
                     height="500px">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div style="margin: 50px; padding-left: 50px">
        <h4 style="margin-bottom: 30px;">{{ prod.about }}</h4>
        <div style="display: flex;">
            <div style="font-size: 22px; margin-right: 15px;">Цена: {{ prod.price }}$</div>
            <div style="font-size: 22px;">Осталось на складе: {{ prod.still_have }}</div>
        </div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div style="display: flex;">
                <div style="display: block">
                    <p>
                    <div style="font-size: 18px">{{ form.count.label }}</div>
                    {{ form.count(type="number", style='width: 110px; margin-bottom: 5px;',
                    class="form-control",
                    id="validationDefault01") }}
                    {% for error in form.count.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                    </p>
                    <p style="margin-top: 0px;">{{ form.submit(type="submit", class="btn
                        btn-outline-dark", style='width: 110px')
                        }}
                    </p>
                    {{message}}
                </div>
                <a href="/buy_now/{{ prod.id }}" class="btn btn-danger"
                   style="width: 95px; height: 95px; margin-top: 50px; margin-left: 30px;
                   color: white; font-size: 18px; padding-top: 20px; padding-left: 3px;">
                    <div style="margin-left: 8px;">Заказать</div>
                    <div>этот товар</div>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
