{% extends "base.html" %}

{%block content %}
<main class="main"  style="margin-top: 20px;">
    <div style="display: flex">
        <div>
            <img src="../../static/img/profile_img/{{ filename }}.jpg"
                 style="width: 400px; height: 400px;">
            <form class="login_form" method="post" style="margin-top: 5px; margin-left: 75px;"
                  enctype=multipart/form-data>
                <div class="form-group" style="display: flex">
                    <input type="file" class="form-control-file" id="file" name="file"
                           accept=".jpg">
                </div>
                <button type="submit" style="margin-left: 50px;" class="btn btn-outline-dark">
                    Заменить фото
                </button>
            </form>
        </div>
        <div style="margin-left: 30px; font-size: 26px;">
            <div>Фамилия: {{ sname }}</div>
            <div>Имя: {{ name }}</div>
            <div>Отчество: {{ mname }}</div>
            <div>Пол: {{ gender }}</div>
            <div>Возраст: {{ age }}</div>
            <div style="display: flex; margin-top: 10px;">
                <a class="btn btn-outline-secondary"
                   href="/redact_profile" >Редактировать профиль</a>
                <a style="margin-left: 5px;" class="btn btn-outline-dark"
                   href="/change_password" >Сменить пароль</a>
                <a style="margin-left: 5px;" class="btn btn-outline-secondary"
                   href="/logout" >Выйти</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}