{% extends "base.html" %}


{% block content %}
<main class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(class="form-control") }}<br>
            {% for error in form.surname.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>

        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>

        <p>
            {{ form.mname.label }}<br>
            {{ form.mname(class="form-control") }}<br>
            {% for error in form.mname.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>

        <p>
            {{ form.age.label }}<br>
            {{ form.age(class="form-control") }}<br>
            {% for error in form.age.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>

        <p>{{ form.gender() }} {{ form.gender.label }}</p>

        <p>{{ form.submit(type="submit", class="btn btn-outline-dark") }}</p>
        {{message}}
    </form>
</main>
{% endblock %}